<!-- Contenedor del carrusel con animación de AOS -->
<div class="carousel" data-aos="fade-up">
  <!-- Botón de control para retroceder en el carrusel -->
  <button class="carousel-control prev" (click)="prev()">&#10094;</button>

  <!-- Contenedor de los elementos del carrusel -->
  <div class="carousel-inner">
    <!-- Iteración sobre las imágenes del carrusel -->
    <div *ngFor="let image of images; let i = index" class="carousel-item" [class.active]="i === currentIndex">
      <!-- Imagen del carrusel -->
      <img [src]="image.src" [alt]="image.alt" class="carousel-image">
      <!-- Descripción de la imagen -->
      <p class="image-description" *ngIf="i === currentIndex">{{ image.description }}</p>
    </div>
  </div>

  <!-- Botón de control para avanzar en el carrusel -->
  <button class="carousel-control next" (click)="next()">&#10095;</button>
</div>
