<div class="card" data-aos="fade-up">
  <!-- Contenedor principal de la tarjeta, con animación AOS aplicada -->
  <div class="card-horizontal">
    <!-- Contenedor que organiza el contenido de la tarjeta en formato horizontal -->
    
    <img [src]="imageSrc" alt="{{title}}" class="card-img-left">
    <!-- Imagen principal de la tarjeta, usando la propiedad 'imageSrc' para la URL de la imagen y 'title' para el texto alternativo -->
    
    <div class="card-content">
      <!-- Contenedor para el contenido textual de la tarjeta -->

      <div class="card-header">
        <!-- Imagen del encabezado de la tarjeta, usando la propiedad 'headerImageSrc' para la URL de la imagen y 'title' para el texto alternativo -->

        <div class="social-icons">
          <!-- Enlace a LinkedIn -->
          <a [href]="linkedinUrl" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
          <!-- Enlace a GitHub -->
          <a [href]="githubUrl" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
        </div>
      </div>

      <div class="card-body">
        <!-- Cuerpo de la tarjeta, que contiene el título y la descripción -->

        <h5 class="card-title">{{title}}</h5>
        <!-- Título de la tarjeta, usando la propiedad 'title' -->
        
        <p class="card-text">{{description}}</p>
        <!-- Descripción de la tarjeta, usando la propiedad 'description' -->
      </div>

      <div class="card-carousel">
        <!-- Contenedor para el componente del carrusel -->
        <app-carousel [images]="carouselImages"></app-carousel>
        <!-- Componente del carrusel, pasando las imágenes a través de la propiedad 'carouselImages' -->
      </div>
    </div>
  </div>
</div>
