<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Navbar con links a secciones -->
<nav class="navbar" (mouseleave)="closeNavbar()">
  <!-- Botón para togglear el navbar en dispositivos pequeños -->
  <button class="navbar-toggler" (click)="toggleNavbar()">☰</button>
  <!-- Lista de enlaces del navbar -->
  <ul [ngClass]="{'navbar-collapsed': isNavbarCollapsed}">
    <li><a href="#section1" class="active">section1</a></li>
    <li><a href="#section2">section2</a></li>
    <li><a href="#section3">section3</a></li>
    <li><a href="#section4">section4</a></li>
    <li><a href="#section5">section5</a></li>
  </ul>
</nav>

<!-- Sección 1 con animación de AOS -->
<div id="section1" class="section" data-aos="fade-up">
  <p>card section 1</p>
  <!-- Componente de tarjeta con inputs para imágenes y texto -->
  <app-card
    headerImageSrc="https://via.placeholder.com/40"
    imageSrc="https://via.placeholder.com/300"
    title="Card Title 1"
    description="This is a description for card 1.">
  </app-card>
</div>

<!-- Sección 2 con animación de AOS -->
<div id="section2" class="section" data-aos="fade-up">
  <p>card section 2</p>
  <app-card
    [imageSrc]="'assets/pexels-steinportraits-1898555.jpg'"
    [headerImageSrc]="'assets/pexels-steinportraits-1898555.jpg'"
    [title]="'Card Title'"
    [description]="'This is a description for the card.'"
    [carouselImages]="carouselImages">
  </app-card>
</div>

<!-- Sección 3 con animación de AOS y modal -->
<div id="section3" class="section" data-aos="fade-up">
  <p>card section 3</p>
  <app-card
    headerImageSrc="https://via.placeholder.com/40"
    imageSrc="c:\Users\Sneyder\Pictures\ilustracion-concepto-modo-enfoque\5802649.jpg"
    title="Card Title 3"
    description="This is a description for card 3."
    [carouselImages]="carouselImages1">
  </app-card>>
  <!-- Modal con contenido adicional -->
  <div class="card-modal">
    <app-modal>
      <!-- Contenido del modal -->
      <p>Este es el contenido del modal</p>
      <p>Puedes agregar más HTML aquí.</p>
      <!-- Tabla dentro del modal -->
      <table>
        <thead>
          <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
          </tr>
          <tr>
            <td>Dato 3</td>
            <td>Dato 4</td>
          </tr>
        </tbody>
      </table>
    </app-modal>
  </div>
</div>

<!-- Sección 4 con animación de AOS y modal -->
<div id="section4" class="section" data-aos="fade-up">
  <p>card section 4</p>
  <app-card
    [imageSrc]="'../../assets/5802649.jpg'"
    [headerImageSrc]="''"
    [title]="'Card Title'"
    [description]="'This is a description for the card.'"
    [carouselImages]="carouselImages">
  </app-card>
  <!-- Modal con contenido adicional -->
  <div class="card-modal">
    <app-modal>
      <!-- Contenido del modal -->
      <p>Este es el contenido del modal</p>
      <p>Puedes agregar más HTML aquí.</p>
      <!-- Tabla dentro del modal -->
      <table>
        <thead>
          <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
          </tr>
          <tr>
            <td>Dato 3</td>
            <td>Dato 4</td>
          </tr>
        </tbody>
      </table>
    </app-modal>
  </div>
</div>

<!-- Sección 5 con animación de AOS -->
<div id="section5" class="section" data-aos="fade-up">
  <p>card section 5</p>
  <app-card
    headerImageSrc="https://via.placeholder.com/40"
    imageSrc="https://via.placeholder.com/300"
    title="Card Title 3"
    description="This is a description for card 3.">
  </app-card>
</div>
